<p>YOUR STRANGER QUIZ</p>

<div>
<form id="quiz-form">
{{#each questions}}
  <h3> {{question_text}} <img src="{{img_url}}"/> </h3>
  {{#each answers}}<input name="{{question_id}}" type="radio" class="{{correct}}"> {{answer_text}} </input><br>{{/each}} 
{{/each}}
<input type="submit" value="Roll For Inititative"></input>
</form>
</div>
