<div class="quiz-background">
  <div class="container quiz-font">
    <h1>How STRANGE are you?</h1>

    <div>
      <form id="quiz-form" method="post" action="/quiz/{{quiz_session_id}}/results">
        {{#each questions}}
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="quiz-q-and-ans col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h3>{{question_text}}</h3>
              <ul>
              {{#each answers}}
                <li>
                  <input name="{{question_id}}" id="{{question_id}}{{id}}" type="radio" value="{{correct}}" class="radio-space"></input>
                  <label for="{{question_id}}{{id}}">{{answer_text}}</label>
                  <div class="check"></div>
                </li>
              {{/each}}
              </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <img class="img-responsive img-fluid quiz-img" src="{{img_url}}"/> 
            </div>
          </div>
        {{/each}}
        <input type="submit" class="btn" value="Roll For Inititative"></input>
      </form>
    </div>
  </div>
<div>